<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Works</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="show_item">
      <%= image_tag(@work.image_url(:xlarge).to_s, class: "work_img") %><br>
      <h4><%= @work.title %></h4>
      <div><%= @work.description %></div>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
</section>
