<!-- Footer Section Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <ul>
            <li class="facebook"><a href="https://www.facebook.com/onedollarinitiativeuganda/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li class="pinterest"><a href="https://www.youtube.com/channel/UCpJ35vtmc9WWP9TcRIcwOdg" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
          </ul>
          <i class="fas fa-phone"></i><a href="tel:+256-702-801493">+256-702-801493</a>
        </div>
        <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <p>All copyrights reserved &copy; 2018 - Designed & Developed by Basil Kabe</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
