<!-- Footer Section Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <ul>
            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"  target="_blank"></i></a></li>
            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="pinterest"><a href="https://www.youtube.com/channel/UCpJ35vtmc9WWP9TcRIcwOdg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
          </ul>
          <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+256-702-801493">+256-702-801493</a>
        </div>
        <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <p>All copyrights reserved &copy; 2018 - Designed & Developed by Basil Kabe</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
