<!-- Start Pricing Table Section -->
  <div id="pricing" class="section pricing-section">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Make a donation toward <span>the ODI cause</span></h2>
        <hr class="lines wow zoomIn" data-wow-delay="0.3s">
        <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Make a donation through these platforms.</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="pricing-details">
            <h2>Donate using MTN Mobile Money</h2>
            <span>Equity Bank Ltd</span>
            <ol>
              <li>Dail *165*4*4#</li>
              <li>Enter merchant code: onedollar</li>
              <li>Enter reference: type your name</li>
              <li>Enter amount: e.g 5000</li>
              <li>Enter pin: ****</li>
              <li>Send</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="pricing-details">
            <h2>Donate to our UGX Centenary Bank</h2>
            <span>ODI Bank Details</span>
            <ol>
              <li>Bank: Centenary Bank</li>
              <li>Account Name: One Dollar HIV&AIDS Initiative</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="pricing-details">
            <h2>Donate using Airtel Money</h2>
            <span>AIRTEL</span>
            <ol>
              <li>Dail *185*4*9#</li>
              <li>Enter Business Number: 300600</li>
              <li>Enter Amount: e.g 5000</li>
              <li>Enter reference: type your name</li>
              <li>Enter pin to confirm: ****</li>
              <li>Send</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="pricing-details">
            <h2>Donate to our UGX Stanbic Bank Account</h2>
            <span>ODI Bank Details</span>
            <ol>
              <li>Bank: Stanbic Bank</li>
              <li>Account Name: One Dollar HIV&AIDS Initiative</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="pricing-details">
            <h2>Donate to our USD Stanbic Bank Account</h2>
            <span>ODI Bank Details</span>
            <ol>
              <li>Bank: Stanbic Bank</li>
              <li>Account Name: One Dollar HIV&AIDS Initiative</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <div class="pricing-details">
            <h2>Donate to our UGX Ecobank Account</h2>
            <span>ODI Bank Details</span>
            <ol>
              <li>Bank: Eco Bank</li>
              <li>Account Name: One Dollar HIV&AIDS initiative Eco Bank</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- End Pricing Table Section -->
