<!-- About Us Section Start -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="contact-block">
            <div class="section-header">
              <div class="about_img">
                <%= image_tag('odi_logo.png')%>
              </div>
              <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About <span>Us</span></h2>
              <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>
            <div class="latest_news">
              <blockquote class="blockquote text-center">
                <p class="mb-0">
                  <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </article>
                </p>
                <footer class="blockquote-footer">One Dollar HIV Initiative <cite title="Source Title">&copy</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- About Us Section End -->
