<!-- About Us Section Start -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="contact-block">
            <div class="section-header">
              <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About <span>Us</span></h2>
              <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>
            <div class="latest_news" id="firstCountItem" >
              <blockquote class="blockquote text-center">
                <p class="mb-0">
                  <article>
                    <h1>What is One Dollar Initiative (ODI)?</h1>
                    It is a Private Sector-led health innovative domestic financing mechanism coordinated and housed by the Federation of Uganda Employers on behalf of the Private Sector Alliance against HIV/AIDS and Health in Uganda.

                    The initiative is aimed at inspiring Private Sector organizations and Individuals to collectively engage and contribute towards ending HIV&AIDS scourge and associated health challenges in Uganda by 2030.

                    <h1>When and why establish ODI?</h1>
                    Established in 2016, it was established to collaborate with Government and development partners end HIV&AIDS among our employees, customers and suppliers.

                    Although the Government of Uganda has invested considerable resources in combating HIV and AIDS, there is still a lot of dependence on external foreign donors. Given other global emerging social and economic concerns, it is becoming evident of the shift in donor priorities. It is also being realized that dependence on donors is not only unreliable but also unsustainable.

                    <h1>What are the aims of ODI?</h1>
                    Mobilize domestic resources in partnership with the private sector organizations to leverage government efforts in the national HIV&AIDS response that will have significant benefits to the working population and save our future workers, customers and suppliers from HIV&AIDS and other health burdens. These are our sisters and brothers and so every assistance possible can go a long way to avert the negative effects.

                    <h1>How much should I contribute?</h1>
                    Contributors should give one less than a dollar (4,000/=) every year. However multiple contributions say monthly or quarterly are welcome.

                    <h1> What will ODI fund do?</h1>
                    <p>• HIV Prevention among the vulnerable and most at risk populations i.e. pupil and students in school (future labour force), employees in vulnerable employment sector and customers who support our businesses.</p>
                    <p>• Increase health services coverage by supporting company and other private health facilities which target employees, their families, dependants and surrounding communities with free health services.</p>
                    <p>• Support critical HIV&AIDS plus other health challenge gaps in the country which accrue benefits to the business community.</p>
                    <p>• Support private sector interventions which leverage resources (technology, learning facilities, supplies) for existing HIV and AIDS interventions.</p>
                    <p>• Support interventions which strategically position the private sector to specifically reach the youth, adolescents and young women</p>

                    <h1>How are ODI funds managed?</h1>
                    By ODI Governing Board Prof. Vinand Nantulya - Chairperson, Rosemary Ssenabulya, Eng.Martin Kasekende, Barbra Ofwono, Gideon Badagawa, Cephas Birungi, Maria Kiwanuka, Wilbrod Owor, Stella Kentusi and George Tamale.

                    Associate members comprise of Mr David Mawejje -ILO, Trouble Chikoko-UNAIDS, Dr.Nelson Musoba, Jackie Katana, Andrew Kyambadde-HDP, Prof.Edward Kirumira-CCM, Dr. Maggie Kigozi, Laban Mbulamuko-MoFPED, Cunningham Amy-PEPFAR and Esther Nekambi-UFEA

                    <h1>How do I benefit by contributing? </h1>
                    <p>We all benefit by Uganda having a healthier population to sell our good and services. Our children will select their partners for marriage from health communities and populace. </p>
                    <p>All contributors will be recognized and receive publicity through ODI Website (www.odiuganda.org), media and at ODI events. </p>
                    <p>Private sector companies and Organizations will yield long term business sustainability and business markets.</p>

                    <h1>ODI contribution to Sustainable Development Goals (SDGs)?</h1>
                    ODI contributes to Sustainable Development Goal (SDG) No. 3 to ensure healthy lives and promote well-being for all at all ages.

                    Specifically will target No 3.3 By 2030, end the epidemics of AIDS, tuberculosis, malaria and neglected tropical diseases and combat hepatitis, water-borne diseases and other communicable diseases.
                  </article>
                </p>
                <footer class="blockquote-footer">One Dollar HIV Initiative <cite title="Source Title">&copy</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- About Us Section End -->
