<!-- About Us Section Start -->
  <section id="contact" class="section">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="contact-block">
            <div class="section-header">
              <div class="about_img">
                <%= image_tag('odi_logo.png')%>
              </div>
              <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">About <span>Us</span></h2>
              <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            </div>
            <div class="latest_news" id="firstCountItem" >
              <blockquote class="blockquote text-center">
                <p class="mb-0">
                  <article>
                    According to the Joint United Nations Program on HIV/AIDS (UNAIDS), there was
                    approximately 36.7 million people worldwide living with HIV/AIDS at the end of
                    2016. Of these, 2.1 million were children under the age of 15 years. An estimated
                    1.8 million individuals worldwide became newly infected with HIV in 2016 – i.e.
                    about 5,000 new infections per day. However, the world has committed to ending
                    the AIDS epidemic as a public health emergency by 2030. The UNAIDS 90–90–90
                    targets have become a central pillar of the global quest to end the AIDS epidemic.
                    The targets refer to achieving a level where 90% of the people that are infected know
                    their status; 90% those who test positive are enrolled on anti-retroviral therapy; and
                    that in 90% of those on treatment the virus should be suppressed to undetectable
                    level. These exceptional results can be achieved when there is broad leadership and
                    consistent financial commitment.
                    Uganda’s HIV epidemic stands at a prevalence rate of 6.0%, down from 7.3% in
                    2011, when a rejuvenated response was introduced this writer and implemented
                    during the period 2011-2017 when the writer oversaw the response as Chairman of
                    Uganda AIDS Commission. The estimated number of adults and children of all ages
                    living with HIV in Uganda is now approximately 1.3 million. Of these an estimated
                    1,028,909 (79%) are on antiretroviral therapy. However, the increasing number of
                    people on ART requires more financial resources to sustain them on lifelong
                    treatment. The ART treatment unit cost per year is USD 420. A total of USD
                    432,141,780 is required annually for the current 1,028,909 people on ART, and this
                    is projected to increase to USD 509 million by 2020 as treatment is extended to more
                    people.
                    Uganda has had support from multiple development partners who have funded the
                    HIV response under different programs. The World Bank’s Multi-Country AIDS
                    Program (MAP) initiated in 2001, the Global Fund to Fight AIDS, Tuberculosis and
                    Malaria (GFATM) launched in 2002, and the United States President’s Emergency
                    Program for AIDS Relief (PEPFAR) that started in 2003. Up to 70% of the resources
                    used in the response come from external donors, with 20% being funded by the
                    private sector, and 10% by government. The private sector financing of HIV & AIDS
                    response has been largely through out of pocket expenditure by households. The
                    direct financing by the private sector has been limited to work place interventions
                    and to surrounding communities through social corporate responsibility activities.
                    Movement in the donor world indicates that funding from this source is declining.
                    Hence, Uganda must start to explore alternative innovations for mobilizing domestic
                    resources to supplement those from government.
                    One such innovation is the Private Sector- led One Dollar Initiative (ODI). This is an
                    important innovation for mobilizing domestic financing as donor fatigue sets in. It
                    is also part of the fast track approach which call on substantially increasing and
                    frontloading investment over the next five years to accelerate scale-up and establish
                    the momentum required to overcome within 15 years one of the greatest public
                    health challenges of our generation. HIV&AIDS has had a devastating impact on
                    individual Ugandans, families, groups, communities and the nation. This initiative
                    by the Private Sector is consistent with our commitment to protecting the health of
                    not only the employees but also the general population. For this population
                    represents various shades of our clients. This is important for our business bottom
                    line.
                    The private sector has a comparative advantage of reaching out to people through
                    employment, marketing and sale of products and services. Its ability to reach out to
                    and interact with communities provides an opportunity to play a more effective role
                    in increasing coverage of HIV&AIDS response services, and to contribute to the
                    realization of the country’s targets. The ODI is propelled by the economic impacts of
                    HIV&AIDS on the private sector, which is complex, widespread and
                    multidimensional and not only affects business owners but also destabilizes the
                    overall business environment in the country.
                    ODI will create a platform for the private sector to have a greater influence on the
                    HIV & AIDS policy agenda, bringing together leaders of business sector to contribute
                    to the development and management of the HIV response in the country. The
                    resources for the kitty will be raised from companies, individual business persons,
                    business associations, Rotary clubs, NGOs/CSO, Development Partners,
                    Foundations, sale of ODI products and public fundraising events like charity walks.
                    The ODI resources will be used to finance private sector HIV & AIDS initiatives
                    targeting both the staff of the private sector organizations and the general population
                    especially the vulnerable communities. Investment in HIV &AIDS is expected to yield
                    long term returns to the private sector, through having a healthy and productive
                    population that can consume products and services generated by the private sector.
                    Access to ODI funds will take on three approaches: i) Grant support to established
                    company health facilities, to scale up existing private sector health and HIV&AIDs
                    initiatives; ii) Call for proposals, which will be limited to the private sector actors
                    (both for- profit and non-profit), for the delivery of HIV &AIDS services; iii)
                    Partnerships with Service Providers, through which, ODI will enter into partnership
                    with established service providers to provide health and HIV& AIDS services to
                    communities and private sector customers; and iv) limited support for critical gaps
                    in programs implemented by the public sector.
                    The ODI Governance arrangements will comprise the Private Sector Assembly, that
                    shall be the supreme organ of the initiative; the Board of Governors, that shall be
                    accountable for results at impact level; the ODI Secretariat, that shall ensure that
                    all results and targets of the ODI are met as per the approved work plan; and the
                    ODI Sub Recipients, that will implement the grants based on the approved proposals
                    and agreement signed with the ODI. The overarching principle throughout the
                    utilisation of ODI resources will be transparency and accountability.
                  </article>
                </p>
                <footer class="blockquote-footer">One Dollar HIV Initiative <cite title="Source Title">&copy</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- About Us Section End -->
