// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  width: 100%;
  height: auto;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  transition: transform .2s;
}

.home:hover {
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10);
}

.donor_img{
  border-radius: 100px;
}

.work_img{
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .news_img{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
  }
}

@media screen and (min-width: 480px) {
  .news_img{
    width: 25%;
    height: auto;
    float: left;
    padding: 10px;
  }
}

h2 {
  text-align: center;
}

.latest_news{
  width: 90%;
  margin: 0 auto;
  text-align: justify;
}
